*{
    margin: 0;
    padding: 0;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    margin: 8px;
    padding: 8px;
}



#game{
    display: block;
    margin: 25px auto;
    border: 1px black;
    background-image: url('./background.png');
    background-size: contain;
    height: 500px;
    width: 750px;
    overflow: hidden;
    }

    #highscore{
        position: absolute;
    }

    #score{
        position: absolute;
        right: 750px;
    }


    #player{
    width: 72px;
    height: 97px;
    position: relative;
    left: 50px;
    top: 333px;
    border:1px solid red;
    }

    .animate{
        animation: jump 500ms;
    }

    @keyframes jump{
    0%{top:333px;}
    50%{top:259px;}
    100%{top:333px;}
    }

    #obstacle{
    width: 50px;
    height: 35px;
    position: relative;
    top: 330px;
    left: 600px;
    animation: block 3s alternate infinite;
    }
    
    @keyframes block{
    0%{left:600px;}
    100%{left:-25px;}
    }

    #ground{
        position: relative;
        top: 325px;
        width: 100%;
    }